@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-color: #E5E7EB;
  --text-color: #000;
  --menu-color: #4b0303;
  --menu-hover-color: #350404;
  --menu-icon-color: #554f4f;
  --menu-active-color: #f3f4f6;
  --navigation-background: #fff;
  --navigation-border: #000000;
  --navigation-text: #000000;
  --i-name:#000000;
}

.dark-mode {
  --background-color: #260505;
  --text-color: #fff;
  --menu-color: #4b0303;
  --menu-hover-color: #4b0303;
  --menu-icon-color: #f3f4f6;
  --menu-active-color: #f3f4f6;
  --navigation-background: #4b0303;
  --navigation-border: #fff;
  --navigation-text: #fff;
  --i-name:#fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  background: var(--background-color);
  position: relative;
  display: flex;
}

#menu {
  background-color: var(--menu-color);
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 40px;
  margin-right: 15px;
}

#menu .items {
  margin-top: 40px;
}

#menu .items li {
  list-style: none;
  padding: 13.5px 0;
  transition: 0.3s ease;
}

#menu .items li:hover {
  background: var(--menu-hover-color);
  cursor: pointer;
}

#menu .items li.active {
    border-left: 4px solid #ffffff;
}

#menu .items li i {
  color: var(--menu-icon-color);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
  color: var(--menu-active-color);
}

#menu .items li a {
  text-decoration: none;
  color: rgb(125, 124, 124);
  font-weight: 300px;
  transition: 0.3s ease;
}
/* menu atas */
#interface{
    width: calc(100% - 100px);
    margin-left: 300px;
    position: relative;
}
#interface .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--navigation-background);
  padding: 10px 30px;
  border-bottom: 3px solid var(--navigation-border);
  height: 100px;
  position: fixed;
  width: calc(86% - 100px);
}

#interface .navigation .n1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#interface .navigation .n1 i {
  font-size: 1.5rem;
  color: #52171c;
  background-color: #eee;
  border-radius: 0.5rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
  margin-right: 0.7rem;
}

#interface .navigation .n1 i:hover {
  background-color: #411616;
  color: white;
}

#menu-btn {
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

#interface .navigation .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

#interface .navigation .profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(1); /* Tambahkan ini untuk menghindari pengaruh mode gelap pada gambar profil */
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link-item {
  display: flex;
  align-items: center;
}

.sub-menu-link p {
  width: 100%;
  margin-right: 2px;
  padding-right: 10px;
}

.sub-menu-link span {
  margin-left: 5px;
  font-weight: bold;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .indentitas {
  flex-direction: column;
}

.user-info .indentitas h2 {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.i-name {
  color: var(--i-name);
  padding: 10px 10px 10px 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 100px;
}

.name {
  color: #000000;
  padding: 10px 10px 10px 30px;
  font-size: 24px;
  font-weight: 700;
}

.values {
  padding: 30px 30px 0 30px;
}

#status {
  background-color: #ffffff;
  color: #000;
}

.container {
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;
  flex-direction:column;
  border: #fff;
  border-radius:5px;
  margin: 15px 30px 15px 30px;
}
/* News */
.split {
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  padding: 40px;
  display: flex;
}

.split h2 {
  max-width: 800px;
  padding: 0 20px 0 20px;
  font-size: 18px;
  margin-left: 30px;
}

.split p {
  max-width: 900px;
  padding: 0 20px 0 20px;
  font-size: 15px;
  margin-left: 30px;
  /* background-color: green; */
}

.split img {
  object-fit: cover;
  width: 220px;
  height: 100%;
}
.split2 {
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  padding: 40px;
  display: flex;
}

.split2 h2 {
  max-width: 800px;
  padding: 0 20px 0 20px;
  font-size: 18px;
  margin-left: 20%;
}

.split2 p {
  max-width: 900px;
  padding: 0 20px 0 20px;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 1rem;
}

.split2 img {
  object-fit: cover;
  height: 100%;
  margin-left: 50%;
  margin-top: 1rem;
}
/* tombol */
.button,
.btn{
  margin:10px 10px 10px 10px;
  background-color: #2c3e50; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}
.submitass{
  margin:10px 10px 10px 10px;
  background-color: #4b0303;
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.submit{
  margin:10px 10px 10px 10px;
  background-color: #4b0303;
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.pilihan{
  margin:10px 10px 10px 10px; 
  background-color: #4b0303; 
  width: auto; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
}
.generate{
  margin:10px 0px 10px 10px;
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.shift{
  margin:10px 50px 10px 10px;
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.cari{
  margin:10px 10px 10px 10px;
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.hapus{
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
.edit{
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
.simpan{
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.tambah{
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.kembali{
  background-color: #4b0303; 
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


/* tabel*/
.pencarian{
  margin:10px 10px 10px 10px; 
  width: 300px;
  padding: 10px 20px;
  border-radius: 5px; 
}
.kuota,.prak,.hari,.sh{
  width: 100%;
  padding: 10px 20px;
}
.menu {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  margin: 20px;
  transition: 0.3s;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: brightness(1); /* Tambahkan ini untuk menghindari pengaruh mode gelap pada gambar kartu */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.card-text {
  margin-top: 10px;
  color: #777;
  font-size: 14px;
}

.card-btn {
  margin-top: 20px;
}

.dark-mode .card-title {
  color: #f3f4f6;
}

.dark-mode .card-text {
  color: #f3f4f6;
}

/* Style untuk tabel */
.schedule-table{
  border-collapse: collapse;
  margin: 0;
  padding: 0 100px 0 100px;
  width: 100%;
  table-layout: fixed;
}

.schedule-table thead tr{
  background-color: #650303;
  color: #fff;
  font-weight: bold;
}

/* Style untuk sel di dalam tabel */
.schedule-table th,
.schedule-table td{
  height: 40px;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
  text-overflow:initial;
  overflow: hidden;
}

.schedule-table th{
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.toggle {
  width: 100%;
  height: 100%;
  justify-content: center;
  cursor: pointer;
}

.toggle.active {
  padding:0px 10px ;
  background-color: greenyellow;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  transition: all 0.3s;

}
/* .toggle.active:hover{
  white-space:normal;
  overflow: visible;
  position: absolute;
  min-height: 30px;
  height: max-content;
  max-width: 120px;
  border: 1px solid black;
} */

.toggle.disable {
  background-color: firebrick;
}
 /* admin tambah user keterangan*/
.isi_ket {
  font-size: 15px;
  margin-left: 30px;
 
}
.katagan{
	display: block;
  	margin-bottom: 5px;
  	color: white;
  	text-align: left;
}
.mb-3{
	width: 100%;
  	padding: 8px;
  	margin-bottom: 10px;
  	border: none;
  	border-radius: 5px;
}
.simpass{
	margin: 10px; 
  	background-color: white;
  	color: #2c3e50;
  	padding: 10px 20px;
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
}
.judpass{
	font-size: 24px; 
  	margin-bottom: 20px; 
  	color: white; 
  	margin-top: 10px;
}
@media (max-width: 769px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
      }
    
      #menu.active {
        left: 0px;
      }
      #interface .navigation .n1 i {
          font-size: 1.2rem;
        color: #2c3e50;
        background-color: #eee;
        cursor: pointer;
      }
      #menu-btn {
        display: initial;
      }
    
      #interface {
        width: 100%;
        margin-left: 0px;
        position: relative;
        display: inline-block;
        transition: 0.3s ease;
      }
    
      #menu.active ~ #interface {
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
      }
    
      #interface .navigation {
        width: 100%;
      }
  .schedule-table th,
  .schedule-table td{
      font-size: 10px;
      width: auto;
  }
    .container {
      width: 89%;
      padding: 0;
      overflow-x: auto;
    }
  
    .img {
      max-width: 100%;
      height: auto;
    }
    .name{
    font-size: 18px;
    margin-left: -5%;
  }
  .isi_ket{
    font-size: 13px;
  }
   .split {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .split img {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 5%;

  }

  .split p {
    max-width: 100%;
    padding: 0 10px;
    font-size: 75%;
    text-align:justify;
  }

 .split h2{
  font-size: 13px;
  max-width: 100%;
  text-align:justify;
 }
  .split2 {
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.split2 img {
  width: 80%;
  height: auto;
  margin-left: 0%;
  margin-top: 5%;

}

.split2 p {
  max-width: 100%;
  padding: 0 10px;
  margin-left: -3%;
  font-size: 75%;
  text-align:justify;
  margin-top: 1rem;
}

.split2 h2{
font-size: 15px;
max-width: 100%;
text-align:justify;
}
    /* tombol*/
  .shift{
  width: 90px;
  height: 60%;
  font-size: 10px;
  }
/* input*/
.pencarian{ 
  width: 130px;
  height: 60%;
  margin-left: -5%;
  font-size: 10px;
}
.cari{
  width: 80px;
  height: 60%;
  font-size: 10px;
  margin-left: 2%;
}
.hapus{
   width: 80%;
  height: 50%;
  font-size: 10px;
  margin-left:10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit{
   width: 80%;
  height: 50%;
  font-size: 10px;
  margin-left:10%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.kuota{
  font-size: 11px;
  height: 100%;
 }
.tambah{
  width: 85%;
  height: 90%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kuota,.prak,.hari,.sh{
  font-size: 10px;
  height: 100%;
}
.simpan{
    width: 85%;
  height: 90%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:9%;
}
  .katagan{
  	margin-left:5%
  }
  .mb-3{
  	width: 80%;
    margin-left: 10%;
  }
  .simpass{
  	margin-left: 10%;
  }
  .judpass{
  	margin-left:20%;
    font-size: 23px;
  }
}
  